*{
  padding: 0px;
  margin: 0px;
  background-color: aliceblue;
}

.container{
  display: flex;
  justify-content: center;
  border-radius: 20px;
  width: 90%;
  margin: 30px auto;
}
.subdiv{
  width:40%;
  margin:25px 10px;
}
.text{
  width: 90%;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 10px;

}
input{
  margin:0px 10px;
  border-radius: 3px;
  width: 80%;
}