*{
  padding: 0px;
  margin: 0px;
}
body{
  justify-content: center;
  align-items: center;
}
.container{
  display: flex;
  justify-self: center;
  align-self: center;
  justify-content: space-between;
  

}